.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2F2F2F;
    height: 40px;
}

.main {
    position: absolute;
    top: 50px;
    left: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 5px #CCCCCC;
    right: 20px;
    bottom: 120px;
    padding: 10px;
    border-radius: 10px;
}

.image {
    box-shadow: 0 0 10px 10px #2F2F2F;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2F2F2F;
    height: 40px;
}

a {
    color: #08C;
    text-decoration: none;
}

li {
    list-style: none;
    padding: 5px;
}

li:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.anpassen {
    width: 100%;
    height: 100%;
}
